<header class="header">
  <div class="header__wrapper">
    <div class="me-auto">
      <ul class="header__list">
        <li class="header__item header__mobile-collapse">
          <a
            href="javascript:void(0)"
            class="header__link header__link-secondary ms-0"
            id="sidebar-hide"
          >
            <i class="fa-solid fa-bars"></i>
          </a>
        </li>
        <li class="header__item header__sidebar-popup">
          <a
            href="javascript:void(0)"
            class="pc-head-link head-link-secondary ms-0"
            id="mobile-collapse"
          >
            <i class="fa-solid fa-bars"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="ms-auto">
      <ul class="header__list">
        <li class="dropdown header__item header__user-profile">
          <a
            class="header__link header__link-primary dropdown-toggle arrow-none me-0"
            data-bs-toggle="dropdown"
            href="javascript:void(0)"
            aria-haspopup="false"
            aria-expanded="false"
          >
            <img
              src="images/user/avatar-3.jpg"
              alt="header__user-avatar"
              class="header__user-avatar"
            />
            <span>
              <i class="fa-solid fa-gear"></i>
            </span>
          </a>
          <!-- <div
            class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown"
          >
            <div class="dropdown-header">
              <h4>
                Good Morning, <span class="small text-muted"> John Doe</span>
              </h4>

              <hr />
              <div
                class="profile-notification-scroll position-relative"
                style="max-height: calc(100vh - 280px)"
              >
                <a href="#logout" class="dropdown-item">
                  <i class="ti ti-logout"></i>
                  <span>Logout</span>
                </a>
              </div>
            </div>
          </div> -->
        </li>
      </ul>
    </div>
  </div>
</header>
