<nav class="sidebar">
  <div class="sidebar__navbar-wrapper">
    <div class="navbar__header">
      <a href="#" class="text-primary">
        <img src="images/logo.png" alt="logo" class="logo logo-lg" />
      </a>
    </div>
    <div class="navbar__content">
      <ul class="navbar__content-body">
        <li class="navbar__content-item active">
          <a href="#" class="navbar__content-link"
            ><span class="navbar__content-micon"
              ><i class="fa-solid fa-house-chimney"></i></span
            ><span class="navbar__content-text">Dashboard</span></a
          >
        </li>

        <li class="navbar__content-item">
          <a href="#!" class="navbar__content-link"
            ><span class="navbar__content-micon"
              ><i class="fa-solid fa-microchip"></i></span
            ><span class="navbar__content-text">Device</span></a
          >
        </li>

        <li class="navbar__content-item">
          <a href="#!" class="navbar__content-link"
            ><span class="navbar__content-micon"
              ><i class="fa-solid fa-user-group"></i></span
            ><span class="navbar__content-text">User</span></a
          >
        </li>

        <li class="navbar__content-item">
          <a href="#!" class="navbar__content-link"
            ><span class="navbar__content-micon"
              ><i class="fa-solid fa-file-pen"></i></span
            ><span class="navbar__content-text">Logs</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
